<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tasktxt_01"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <!-- 网络权限 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!-- SD卡操作权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.tasktxt_01.MainActivity"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.example.tasktxt_01.EditActivity"
            android:label="@string/title_activity_edit" >
        </activity>
        <activity 
            android:name="com.example.tasktxt_01.welcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.tasktxt_01.EditTextActivity"
            android:label="@string/title_activity_edit_text" >
        </activity>
        <activity android:name=".ViewPSettings">
        </activity>
        <service android:name="txt.service.TxtTXT2Sql" />
        <provider
            android:name="mycp.mysql.base.TxtPcontentProviderBag"
            android:authorities="mycp.mysql.base.TxtPcontentProviderBag" />
        <receiver android:name="broad.service.TxtBootRecevier" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
	
</manifest>
